.main-background-img {
  background-image: url(./images/hero-image.jpeg);
  background-size: cover;
  width: 320px;
  height: 1210px;
}

.main-page__tittle h2 {
  font-size: 40px;
  padding: 16px;
  color: white;
  font-family: "Playfair Display", serif;
  margin-top: 100px;
}

.main-page__tittle h3 {
  font-size: 18px;
  padding: 16px;
  padding-top: 0;
  color: white;
  font-family: "Rubik", sans-serif;
}

.main-header__menu a:not(.main-header__menu-pages--active) {
  color: white;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.main-header__menu-submit a {
  color: white;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.main-header__menu-pages--active {
  color: white;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-decoration-color: #ff7757;
}

.main-header__menu {
  display: none;
}

.main-header__submit {
  display: none;
}

.main-header__menu-pages {
  gap: 32px;
  display: flex;
  justify-content: center;
}

.main-header button {
  background-color: #ff7757;
  border-radius: 12px;
  font-size: 20px;
  padding: 20px 32px 20px 32px;
  border: none;
  color: white;
  font-family: "Rubik", sans-serif;
}

.main-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.main-header div {
  width: fit-content;
}

.main-header__menu-hamburger {
  display: flex;
}

.main-header__menu-submit {
  display: flex;
  gap: 36px;
  align-items: center;
}

.main-page__form-input {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  gap: 16px;
  margin: 16px;
}

.main-page__form-input-insert {
  padding: 15px;
  border-radius: 16px;
}

.main-page__form {
  display: flex;
  flex-direction: column;
  padding-top: 68px;
}

.main-page__form input {
  border: none;
}

.main-page__form-input__underline {
  width: 85%;
  align-items: center;
  margin: auto;
  border-top: 1px solid black;
}

.main-page__form label {
  font-family: "Rubik", sans-serif;
  color: #767e86;
  font-size: 14px;
}

.main-page__form-container {
  display: flex;
  flex-direction: column;
}

.main-page__form ::placeholder {
  font-family: "Playfair Display", serif;
  color: #172432;
  font-size: 14px;
}

.main-page__form-input__button {
  background-color: #ff7757;
  color: white;
  border: none;
  font-family: "Playfair Display", serif;
  height: 128px;
  line-height: 47.99px;
  font-size: 36px;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
